* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #072227;
  --secondary-bg-color: #AEFEFF;
  --text-color: #ffffff;
}

li, button, h1, h2, h3, h4, h5, h6, p, a {
  text-decoration: none;
  font-family: 'Zen Kurenaido', sans-serif;
}

a {
  color: inherit;
}

body {
  background-color: var(--main-bg-color);
}

span {
  color: var(--secondary-bg-color);
}

main {
  display: grid;
}

header {
  background-image: linear-gradient(to bottom, rgba(7, 34, 39, 100), rgba(117, 19, 93, 0.5)), url("../IMG/jackson-so-_t-l5FFH8VA-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 5%;
  color: var(--text-color);
}

.logo {
  font-size: 1.5rem;
  padding: 5px;
}

.nav-container ul {}

.nav-container li {
  display: inline-block;
  font-size: 1.5rem;
  padding: 5px;
}

.intro {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 90vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.intro-text {
  grid-column-start: 2;
  grid-row-start: 2;
  align-self: center;
  color: var(--text-color);

}

.intro h1 {
  font-size: 4rem;
}

.intro p {
  font-size: 2rem;
}

.scroll {
  grid-column-start: 2;
  grid-row-start: 3;
  grid-row: end-line /3;
  justify-self: center;
  align-self: center;
  font-size: 2rem;
}

.fa-bounce {
    display: inline-block;
    position: relative;
    -moz-animation: bounce 1s infinite linear;
    -o-animation: bounce 1s infinite linear;
    -webkit-animation: bounce 1s infinite linear;
    animation: bounce 1s infinite linear;
}

@-webkit-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-moz-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-o-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-ms-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: repeat(2, 1fr);
  justify-content: center;
  align-content: center;
}

.portfolio-card {
  width: 100%;
  background-color: #ffffff;
  padding: 1rem;
  box-shadow:-60px 70px 0 -60px tomato
}

.portfolio-card:nth-child(1) {
  grid-column-start: 1;
}
